@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.hero-image {
    background: url("../images/hero.jpg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-title {
    color: white;
    text-align: left;
    margin-left: 10%;
    padding-top: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 700%;
}

.hero-quote {
    color: white;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
}

.pageNotFound-title {
    color: black;
    text-align: left;
    margin-left: 10%;
    padding-top: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 7em;
}

.pageNotFound-image {
    background: url("../images/pageNotFoundimage.jpg");
    height: 500px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pageNotFound-quote {
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

.recipes-image {
    background: url("../images/recipes.jpg");
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.recipes-title {
    color: white;
    text-align: left;
    margin-left: 10%;
    padding-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 600%;
    font-display: flex;
}

.cupcake-image {
    background: url("../images/cupcake.jpg");
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.biscuits-image {
    background: url("../images/biscuits.jpg");
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.upload-title {
    color: #269E9C;
    text-align: left;
    margin-left: 10%;
    padding-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 400%;
    font-display: flex;
}

footer {
    position: sticky;
}

.social-networks {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 4rem;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin-top: 0.2em;
    color: #5bc0de;
    padding: 0.2em;
}

.social-networks i:hover {
    color: #269E9C;
}