@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    height: 100%;
}

/* index page hero image and title*/
.hero-image {
    background: url("../images/hero.jpg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-title {
    color: white;
    text-align: left;
    margin-left: 10%;
    padding-top: 30%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 700%;
}

.hero-quote {
    color: white;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
}

/*Recipe card*/

.recipe_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* page not found page */
.pageNotFound-title {
    color: black;
    text-align: left;
    margin-left: 10%;
    padding-top: 30%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 7em;
}

.pageNotFound-image {
    background: url("../images/pageNotFoundimage.jpg");
    height: 500px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pageNotFound-quote {
    color: black;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3em;
}
/* upload your recipe page */
.upload-image {
    background: url("../images/upload.jpg") no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* multi used smaller title */
.smaller-title {
    color: white;
    text-shadow: 2px 2px #28babd;
    text-align: centre;
    padding-top: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 600%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* recipe list pages - cake - biscuits - all */
.banner {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    height:300px;
}

.container-banner {
    margin-bottom: 20px;
}

/* footer */
footer {
    position: sticky;
}

.social-networks {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 4rem;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin-top: 0.2em;
    color: #5bc0de;
    padding: 0.2em;
}

.social-networks i:hover {
    color: #269e9c;
}
