{% extends 'base.html' %}
{% block content %}
<!-- add recipe page is a form to insert information in the db, leads to review and submit page(which is also the edit page)-->
<div class="container-fluid upload-image">
    <div class="container-fluid">
        <h1 class="smaller-title">
            Add your recipe here</h1>
    </div>
</div>
<br>
<form action="{{url_for('upload_recipe')}}" name="my_recipe" method="POST">
    <div class="form-group">
        <label for="formGroupExampleInput">Name of Recipe</label>
        <input name="name" class="form-control" id="formGroupExampleInput" placeholder="Enter the name for the recipe"
               type="text">
    </div>
    <div>
        <label class="col-form-label">Choose Category</label>
        <div class="col-md-4">
            <div class="form-group">
                <select name="category_name" class="form-control" id="exampleFormControlSelect1">
                    <option>Cakes</option>
                    <option>Biscuits</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col-form-label">Preparation Time</label>
            <div class="col">
                <input name="prep_time" type="text" class="form-control" placeholder="In minutes">
            </div>
            <label class="col-form-label">Cooking Time</label>
            <div class="col">
                <input name="cooking_time" type="text" class="form-control" placeholder="In minutes">
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-sm-2 col-form-label">Serves</label>
            <div class="col-md-4">
                <input name="serves" type="text" class="form-control" placeholder="How many does your recipe serve?">
            </div>
            <br>
            <label class="col-form-label">Effort Level</label>
            <div class="col-md-4">
                <div class="form-group">
                    <select name="effort_level" class="form-control" id="exampleFormControlSelect1">
                        <option>Easy</option>
                        <option>Moderate</option>
                        <option>Fair bit of effort needed</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h3>Ingredients</h3>
    <
    <div class="form-group">
        <label for="ingredientsTextarea"></label>
        <textarea name="ingredients" class="form-control" id="ingredientsTextarea" rows="3"
                  placeholder="List your ingredients here. Remember to include quantity."></textarea>
    </div>

    </div>
    <h4>Method</h4>
    <div class="form-group">
        <label for="methodTextarea"></label>
        <textarea name="method" class="form-control" id="methodTextarea" rows="3"
                  placeholder="Write your method here, include oven temperatures and all steps needed to bake your amazing recipe"></textarea>
    </div>
    <button name="uploaded_on" class="btn btn-info" type="datetime-local" value="">Preview</button>
</form>

{% endblock %}