{% extends 'base.html' %}
{% block content %}
{% for Recipe in Recipes %}
<!-- page to display all results in the category cake-->
<div class="container-fluid cupcake-image">
       <div class="container-fluid">
        <h1 class="smaller-title">
			Cake Recipes</h1>
       </div>
</div>
<br>
{% endblock %}

{% block content %}

<!-- card for recipe linking to full recipe page -->
<div class="card mb-3" style="max-width: 100%;">
  <div class="row gutters">
    <div class="col-md-4">
      <img src= "static/images/hero.jpg" class="card-img" alt="Image Not Available">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{Recipe.name}}</h5>
        <p class="card-text">Preparation Time: {{Recipe.prep_time}}</p>
          <p class="card-text">Cooking Time: {{Recipe.cooking_time}}</p>
          <p class="card-text">Serves: {{Recipe.serves}}</p>
          <p class="card-text">Effort Level: {{Recipe.effort_level}}</p>

      </div>
    </div>
  </div>
  <a href="#" class="stretched-link"></a>
</div>
<br>
{% endfor %}
{% endblock %}