{% extends 'base.html' %}
{% block head %}

<!-- index is the home page with the hero image and displaying a recipe of the week and a most recently added feature-->
<div class="container-fluid hero-image">
    <div class="container-fluid">
        <h1 class="hero-title">
            Lets Bake</h1>
        <h3 class="hero-quote">
            because then you can eat cake... or cookies...</h3>
    </div>
</div>
<br>
{% endblock %}

{% block content %}
<h2>Thank you for submitting your recipe</h2>


{% endblock %}